body {
    background-color: pink;
  }
  
  
  #pies {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px double #808080;
    color: white;
    text-align: center;
    background: white;
    color: #505050;
  }
  
  .card img {
    height: 200px;
    width: 200px;
  }